---
import NavBar from "../components/NavBar.astro";
import TopHead from "../components/TopHead.astro";
---

<TopHead />
<body>
  <header class="site-header">
    <NavBar />
  </header>

  <main>
    <h1>Ayoub's Photography Website</h1>
    <h3>THIS IS THE CONTACT PAGE</h3>
    <p>Contact me :)</p>
  </main>
</body>
