---
import Ayoubtitle from "../components/AyoubTitle.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import TopHead from "../components/TopHead.astro";
import "../css/AffectAll.css";
import SocialLink from "../components/SocialLink.astro";
---

<TopHead />
<>
  <header class="site-header">
    <NavBar />
  </header>

  <main>
    <Ayoubtitle />
    <h3>THIS IS THE CONTACT PAGE</h3>
    <p>Contact me :)</p>
  </main>
  <SocialLink />
  <Footer />
</>
