---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import TopHead from "../components/TopHead.astro";
import AyoubTitle from "../components/AyoubTitle.astro";
import "../css/AffectAll.css";
---

<TopHead />

<body class="">
  <header>
    <NavBar />
  </header>

  <main>
    <AyoubTitle />
    <div class="bg-blue-600">
      <div class="m-auto min-w-fit max-w-screen-sm p-4 text-center text-center">
        <h2
          class="w-full rounded-lg bg-white text-2xl font-bold uppercase shadow-md"
        >
          I am learning to create a website
        </h2>
        <p class="text-white">
          I am using astro, html, and css mostly, but i do believe i will need
          to learn javascript too. I have already used a few components from
          astro.
        </p>
      </div>
    </div>
  </main>
  <Footer />
</body>
