---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import TopHead from "../components/TopHead.astro";
import AyoubTitle from "../components/AyoubTitle.astro";
import "../css/AffectAll.css";
---

<TopHead />

<body class="">
  <header>
    <NavBar />
  </header>

  <main>
    <AyoubTitle />
    <!-- <h1>Ayoub's Photography Website</h1> -->
    <h3 class="bg-black text-5xl text-white">THIS IS THE HOME PAGE</h3>
    <p>This is where i will make the website look nice</p>
  </main>
  <Footer />
</body>
