---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import TopHead from "../components/TopHead.astro";
---

<TopHead />

<body class="font-serif">
  <header>
    <NavBar />
  </header>

  <main>
    <h1>Ayoub's Photography Website</h1>
    <h3 class="bg-black text-5xl text-white">THIS IS THE HOME PAGE</h3>
    <p>This is where i will make the website look nice</p>
  </main>

  <Footer />
</body>
