---
import TopHead from "../components/TopHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
---

<TopHead />
<body>
  <header class="site-header">
    <NavBar />
  </header>

  <main>
    <h1>Ayoub's Photography Website</h1>
    <h3>THIS IS THE PORTFOLIO</h3>
    <h4>See my photos:</h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore alias
      expedita repellat velit architecto blanditiis accusantium? Dignissimos
      commodi delectus, recusandae unde voluptatibus nam deleniti accusamus nemo
      libero ut vel magnam. Libero rerum minus similique labore necessitatibus
      repellat architecto, quis sit illo sequi atque esse ipsam mollitia autem
      reiciendis perferendis delectus.
    </p>
  </main>
  <Footer />
</body>
