---
import '../css/style.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayoub Photography</title>
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <div class="siteheader-inner">
          <img src="http://placehold.it/50" alt="" />
          <nav class="navbar">
            <ul class="nav">
              <li><a href="/astrowebsitephotography">Home</a></li>
              <li>
                <a href="/astrowebsitephotography/portfolio">Portfolio</a>
              </li>
              <li><a href="/astrowebsitephotography/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <h1>Ayoub's Photography Website</h1>
      <h3>THIS IS THE PORTFOLIO</h3>
      <h4>See my photos:</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore alias
        expedita repellat velit architecto blanditiis accusantium? Dignissimos
        commodi delectus, recusandae unde voluptatibus nam deleniti accusamus
        nemo libero ut vel magnam. Libero rerum minus similique labore
        necessitatibus repellat architecto, quis sit illo sequi atque esse ipsam
        mollitia autem reiciendis perferendis delectus.
      </p>
    </main>
  </body>
</html>
