<div
  class="mx-auto my-10 max-w-md overflow-hidden rounded-xl bg-purple-200 shadow-md md:max-w-2xl"
>
  <div class="md:flex">
    <div class="md:shrink-0">
      <img
        class="h-48 w-full object-cover md:h-full md:w-52"
        src="https://images.unsplash.com/photo-1698840473362-5a73b1fa7eaf?auto=format&fit=crop&q=80&w=987&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Modern building architecture"
      />
    </div>

    <div class="p-8">
      <div
        class="text-2xl font-semibold uppercase tracking-tight text-indigo-500"
      >
        Company retreats
      </div>

      <a
        href="#"
        class="mt-4 block text-xl font-medium leading-tight text-black hover:underline"
        >Incredible accommodation for your team</a
      >

      <p class="mt-2 text-slate-500">
        Looking to take your team away on a retreat to enjoy awesome food and
        take in some sunshine? We have a list of places to do just that.
      </p>
    </div>
  </div>
</div>
