<div class="bg-emerald-400 py-10 text-center text-4xl font-black text-white">
  <h1 class="m-1">
    Ayoub's <span class="inline-block rounded-lg bg-purple-500 px-1 text-black"
      >Photography</span
    >
  </h1>
</div>
