<div class="bg-orange-500 py-10 text-center text-4xl font-black text-white">
  <h1 class="m-1">
    Ayoub's <span class="inline-block rounded-lg bg-yellow-400 px-1 text-black"
      >Photography</span
    > Website
  </h1>
</div>
