<ul class="list-none bg-neutral-950 p-2 text-right text-lg">
  <li
    class="mx-2 my-1 inline-block cursor-pointer rounded bg-blue-800 p-1 text-slate-50 hover:bg-blue-500 hover:underline"
  >
    <a class="" href="/astrophotographywebsite">Home</a>
  </li>
  <li
    class="mx-2 my-1 inline-block cursor-pointer rounded bg-blue-800 p-1 text-slate-50 hover:bg-blue-500 hover:underline"
  >
    <a class="" href="/astrophotographywebsite/contact">Contact</a>
  </li>
  <li
    class="mx-2 my-1 inline-block cursor-pointer rounded bg-blue-800 p-1 text-slate-50 hover:bg-blue-500 hover:underline"
  >
    <a class="" href="/astrophotographywebsite/portfolio">Portfolio</a>
  </li>
</ul>
