<ul class="bg-blue-400 p-2 text-right text-lg">
  <li
    class="mx-2 my-1 inline-block cursor-pointer bg-blue-800 p-1 text-center text-slate-50"
  >
    <a class="hover:bg-blue-600 hover:underline" href="">Home</a>
  </li>
  <li
    class="mx-2 my-1 inline-block cursor-pointer bg-blue-800 p-1 text-center text-slate-50"
  >
    <a class="hover:bg-blue-600 hover:underline" href="">Contact</a>
  </li>
  <li
    class="mx-2 my-1 inline-block cursor-pointer bg-blue-800 p-1 text-center text-slate-50"
  >
    <a class="hover:bg-blue-600 hover:underline" href="">Portfolio</a>
  </li>
</ul>
