---
import Social from "./Social.astro";
---

<style>
  #sociallinks {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<div id="sociallinks">
  <Social platform="instagram" username="ayoubabedrabbo" />
  <Social platform="facebook" username="ayoub.abedrabbo.5" />
</div>
