---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html class="font-serif">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayoub | Photography</title>
    <ViewTransitions />
  </head>
</html>
